
<div>
	<div class="container">
		<div id="msg" class="alert animated-msg alert-info" ng-show="status">{{status}}</div>
 
		<div id='modalwindows'>
			<!--Create Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Add a new Job</h4>
						</div>
						<div class="modal-body">
							<div class="span3">

								<br />
								<label for="Jobname">Job Name</label>
								<input id="Jobname" data-ng-model="newJob.name" class="form-control" type="text" placeholder="enter Job Name">
								<label for="Joblogo">Job Logo</label>
								<input type="file"  accept="image/*" id="Joblogo">
								<br>
								<br>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" data-ng-disabled="!newJob.name" data-dismiss="modal" data-ng-click="insertJob()">Save</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!--Edit Modal -->
			<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Job editing</h4>
						</div>
						<div class="modal-body">
							<div class="span3">

								<br />
								<label for="editJobname">Job Name</label>
								<input id="editJobname" data-ng-model="currJob.name" class="form-control" type="text" placeholder="enter Job Name">
								<label for="Joblogo">Job Logo</label>
								<input type="file"  accept="image/*" id="Joblogo">
								<br>
								<br>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" data-dismiss="modal" class="btn btn-primary" data-ng-disabled="!currJob.name" 
							data-ng-click="updateJob(currJob.id)">Save changes</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
		<div class="filters">
			<button class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#myModal">Create a Job</button>
			<label for="srcbox">Search:</label>
			<input id='srcbox' type="text" class="form-control" ng-model="search">

		</div>
		<div class="panel panel-default">
 
  <div class="panel-heading">List of available profesions</div>
		<table class='table  table-bordered table-hover'>
			<thead>
				<tr>
					<td><label for=""># </label></td>
					<td><label for="">Name</label></td>
					<td><label for="">Action</label></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in jobs |filter:search">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>
						<button type="button" data-toggle="modal" ng-click="getJob(item.id)" data-target="#editModal" class="btn btn-primary">update</button> 
						<button type="button" ng-click="deleteJob(item.id)" class="btn btn-danger">Delete</button></td>
					</tr>
				</tbody>	
			</table>
		</div>
	</div>

