<style>
  .col-md-12{
margin-left: 1%;
  }
</style>
<div class="header">
  <h3 class="text-muted" style="text-align: center">Order of the Pixel  (with angular)</h3>
</div>

<div class="jumbotron">
  <h1>'Ahoy!</h1>
  <p class="lead">
    Welcome to the angular order of the pixel.
  </p>
</div>
<div class="container">
      <div class="row">
        <div class="col-md-12">
           <h3>About the proyect</h3>
    <p>This proyect was was build up with yeoman using the Angular-generator as its base, so thanks to that the template comes with a few goodies like:</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>HTML5 Boilerplate</h3>
          <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites. </p>
          <p><a class="btn btn-default" href="http://html5boilerplate.com/" role="button">View details »</a></p>
        </div>
        <div class="col-md-12">
          <h3>Angular</h3>
          <p>HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites. </p>
          <p><a class="btn btn-default" href="http://angularjs.org/" role="button">View details »</a></p>
       </div>
        <div class="col-md-12">
          <h3>Karma</h3>
          <p>Spectacular(could be more friendly) Test Runner for JavaScript.</p>
          <p><a class="btn btn-default" href="http://karma-runner.github.io/0.10/index.html" role="button">View details »</a></p>
        </div>
      </div>

      <hr>

      
    </div>
 
</div>
 
