<div class="weapons view">
	<div class="container">
		<div id="msg" class="alert animated-msg alert-info" ng-show="status">{{status}}</div>
		<div id="modalwindows">
			<!--Create Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Add a new Weapon</h4>
						</div>
						<div class="modal-body">
							<div class="span3">

								<br />
								<label for="weaponName">Weapon Name</label>
								<input id="weaponName" data-ng-model="newWeapon.name" class="form-control" type="text" placeholder="enter Weapon Name">
								<br>
								<label for="wepdesc">Description</label>
								<textarea class="span6 form-control" ng-model="newWeapon.desc" rows="3" placeholder="Tell us all about what this bad boy can do" required></textarea>
								<br>

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-disabled="!newWeapon.name" 
							data-ng-click="insertWeapon()">Save changes</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

			<!--Create Modal -->
			<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">Weapon Edit</h4>
						</div>
						<div class="modal-body">
							<div class="span3">

								<br />
								<label for="weaponName">Weapon Name</label>
								<input id="weaponName" data-ng-model="currWeapon.name" class="form-control" type="text" placeholder="enter Weapon Name">
								<br>
								<label for="wepdesc">Description</label>
								<textarea class="span6 form-control" ng-model="currWeapon.desc" rows="3" placeholder="Tell us all about what this bad boy can do" required></textarea>
								<br>

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-disabled="!currWeapon.name" 
							data-ng-click="updateWeapon(currWeapon.id)">Save changes</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
		<div class="filters">
			<button class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#myModal">
				Create a Weapon
			</button>
			<label for="srcbox">Search:</label>
			<input id='srcbox' type="text" class="form-control" ng-model="search">

		</div>
		<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">List of available arms</div>
		<table class='table  table-bordered table-hover'>
			<thead>
				<tr>
					<td><label># </label></td>
					<td><label>Name</label></td>
					<td><label>Descripcion</label></td>
					<td><label>Action</label></td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in weapons |filter:search">
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.desc}}</td>
					<td class="action-col-fix"><button type="button" ng-click="getWeapon(item.id)" class="btn btn-primary" data-toggle="modal" data-target="#editModal">update</button> <button type="button" ng-click="deleteWeapon(item.id)" class="btn btn-danger">Delete</button></td>
				</tr>
			</tbody>	
		</table>
	</div>
	</div>
</div>